<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="message">
        {{reversedMessage}}
        {{click}} <button @click="click++">click me</button>
        <br>
        <input type="text" v-model="newItem" @keydown.enter="addItem">
        <button @click="addItem">Add</button>

        
        <item-list :items="items"><i>All items</i></item-list>
        <item-list :items="doneItems">Done items</item-list>
        <item-list :items="notDoneItems">Not done items</item-list>
    </div>
</body>
</html>